<!-- Container principal -->
<div class="container mx-auto text-center mt-5">
  <!-- Título -->
  <h1 class="text-4xl font-bold">Página de Sobre</h1>
  <!-- Botão -->
  <button
    type="button"
    class="btn btn-primary mt-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    (click)="navegarParaOutraPagina()"
  >
    Clique Aqui
  </button>
  <!-- Lista de Pokémon -->
  <div class="mt-5">
    <ul>
      <li
        *ngFor="let pokemon of firePokemons"
        class="text-lg text-gray-700 bg-gray-200 p-2 my-2 rounded-lg hover:bg-gray-300"
      >
        {{ pokemon.name }}
      </li>
    </ul>
  </div>
</div>
